/* Popup body css */ 
body {
    background-color: #92620ad2;
    width: 300px;
    height: 450px;
    padding: 5px;
}

/* The search field */
#myDropdown {
  box-sizing: border-box;
  font-size: 14px;
}

/* The search field when it gets focus/clicked on */
#myDropdown:focus {outline: none;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: static;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  max-height: 300px; /* TODO Test/resize with all options once they are imported */
  overflow-y: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 8px;
  z-index: 2;
  text-decoration: none;
  background-color: #ffffff;
}

/* Change background color of dropdown links when focused */
.dropdown-content a:focus { background-color: #6d6a6a; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #6d6a6a}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}