/* Popup body css */ 
body {
    background-color: #92620ad2;
    width: 300px;
    height: 925px;
    padding: 5px;
}
  
  /* The search field */
  #myDropdown {
    box-sizing: border-box;
    background-position: 7px 6px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 10px 15px 8px 35px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myDropdown:focus {outline: 3px solid #ddd;}

  /* The options not showing up */
  #dropdownOptions {
    display: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /**   Searchbar is missized 
        sendButton is covered up by search bar 
        options are not showing up while searching 
        backend needs updated to take in the data from the search bar
        ??
        */